body{

  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 1.6;
  color: #7f8c8d;
}

header a {
  color: #2980b9;
  text-decoration: none;
}

header a:hover {
  color: #3498db;
}

.container{
  margin: 0 auto;
  width: 960px;
}

section{
  float:left;
  width: 660px;
}

article{
  background: #ecf0f1;
  border: 1px solid #ccc;
  border-color: #ccc #999 #999 #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

article h2{
  margin: 0;
  border-bottom: 1px dashed #ccc;
}

article a {
  color: #2980b9;
  font-weight: bold;
  text-decoration: none;
}

article img{
  border: 1px solid #ccc;
  float:left;
  margin: 10px 10px 0 0;
  padding: 2px;
}

.clear {
  clear: both;
}

aside{
  float: right;
  width: 260px;
  background: #ecf0f1;
  border: 1px solid #ccc;
  border-color: #ccc #999 #999 #ccc;
  padding: 10px;
}

aside h3{
  font-size: 14px;
  margin-top: 0;
}

aside ol{
  font-size: 12px;
}

footer{
  font-size: 12px;
  text-align: center;
}
